@using Proyecto.Models;
@model List<ControlCLS>



@{
    ViewBag.Title = "";

    Layout = "~/Views/Shared/_Layout.cshtml";




    

}







<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">






        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">


                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 200px;">




                                <div class="input-group-btn">



                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->





                    <div class="box-body table-responsive no-padding">

                        @using (Html.BeginForm("Index", "Control", FormMethod.Post))
                        {
                            @Html.Label("Descripcion")

                            @Html.TextBox("descripcion")

                            <input type="submit" class="btn btn-success" value="Buscar" />

                                        <br><br><br>
                                        <table class="table table-bordered table-hover">


                                            <thead>

                                                <tr>

                                                    <td width="10%">@Html.LabelFor(p => Model[0].idcontrol)  </td>


                                                    <td width="10%">@Html.LabelFor(p => Model[0].descripcion)  </td>


                                                    <td width="10%">@Html.LabelFor(p => Model[0].motivo)  </td>

                                                    <td width="10%">@Html.LabelFor(p => Model[0].nombrearea)  </td>

                                                    <td width="10%">@Html.LabelFor(p => Model[0].nombrevigilante)  </td>


                                                    <td width="10%">@Html.LabelFor(p => Model[0].nombrevisitante)  </td>

                                                    <td width="5%">@Html.LabelFor(p => Model[0].hora)  </td>

                                                    <td width="8%">@Html.LabelFor(p => Model[0].fecha)  </td>






                                                    <td width="20%">Accion </td>

                                                </tr>

                                            </thead>

                                            <tbody>

                                                @foreach (var item in Model)
                                                {

                                                    <tr>

                                                        <td>@item.idcontrol</td>
                                                        <td>@item.descripcion</td>

                                                        <td>@item.motivo</td>

                                                        <td>@item.nombrearea</td>
                                                        <td>@item.nombrevigilante</td>
                                                        <td>@item.nombrevisitante</td>

                                                        <td>@item.hora</td>



                                                        <td>@item.fecha</td>


                                                        <td>



                                                          


                                                            @Html.ActionLink(" ", "Agregar", "Control", null, new { @class = "glyphicon glyphicon-file btn btn-info" })


                                                            @Html.ActionLink(" ", "Editar", "Control", new { id = @item.idcontrol }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })





                                                            @Html.ActionLink(" ", "Eliminar", "Control", new { id = @item.idcontrol }, new { @class = "glyphicon glyphicon-trash btn btn-danger", @onclick = "eliminar()" })







                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>

                                        </table>



                        }



                        <script>

                            function eliminar() {



                                if (confirm("¿Desea Eliminar el Registro?") == 1) {



                                } else {

                                    event.preventDefault();

                                }
                            }

                        </script>


                        @* agregar guardar los registros*@

                        <script>

                            var frmAgregar = document.getElementById("frmAgregar");

                            frmAgregar.onsubmit = function (e) {

                                e.preventDefault();

                                if (confirm("¿Deseas Guardar los Cambios") == 1) {

                                    frmAgregar.submit();

                                }

                            }
                        </script>


                        <!-- /.box-body -->
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>


